@use 'sass:map';
@use 'sass:string';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './theme';

$theme-colors: (
  'bg-main': (
    'light': '#ffffff',
    'dark': '#24292f',
  ),
  'bg-secondary': (
    'light': '#75C2FF',
    'dark': '#393E43',
  ),
  'color-blue': (
    'light': '#75C2FF',
    'dark': '#00aaff',
  ),
  'accent-color': (
    'light': '#266EA6',
    'dark': '#00aaff',
  ),
);

$color-blue: string.unquote(map.get($theme-colors, 'color-blue', 'dark'));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Rimma-Sans;
  src: url('../fonts/RIMMA_SANS-BOLD_2.ttf');
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
}

main {
  flex: 1 1 auto;
}

footer {
  flex: 0.25;
}

h1,
h2,
h3,
h4 {
  font-family: Rimma-Sans;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.container {
  height: 100%;
  max-width: 540px !important;
}

.card-header {
  background-color: transparent !important;
}

.btn {
  font-family: Rimma-Sans;
  width: 50%;
}

[data-bs-theme='light'] h1 {
  text-shadow: 1.41px 1.41px $color-blue, 2px 0 $color-blue,
    1.41px -1.41px $color-blue, 0 -2px $color-blue, -1.41px -1.41px $color-blue,
    -2px 0 $color-blue, -1.41px 1.41px $color-blue, 0 2px $color-blue;
}

// string.unquote(map.get($theme-colors, 'color-blue', 'dark'))
