@use 'sass:map';

@include color-mode(dark) {
  $brand-theme-colors: (
    'primary': #00aaff,
    'secondary': #393e43,
    'success': #198753,
    'danger': #ff3444,
    'warning': #ffffd2,
    'info': #96a9da,
  );

  $primary: map.get($brand-theme-colors, 'primary');
  $secondary: map.get($brand-theme-colors, 'secondary');
  $success: map.get($brand-theme-colors, 'success');
  $info: map.get($brand-theme-colors, 'info');
  $warning: map.get($brand-theme-colors, 'warning');
  $danger: map.get($brand-theme-colors, 'danger');

  $theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'danger': $danger,
    'warning': $warning,
    'info': $info,
  );

  $theme-colors-rgb: (
    'primary': to-rgb($primary),
    'secondary': to-rgb($secondary),
    'success': to-rgb($success),
    'danger': to-rgb($danger),
    'warning': to-rgb($warning),
    'info': to-rgb($info),
  );

  .btn-primary {
    --bs-btn-bg: #{$primary};
    --bs-btn-border-color: #{$primary};
    --bs-btn-hover-bg: #{darken($primary, 5%)};
    --bs-btn-hover-border-color: #{darken($primary, 5%)};
    --bs-btn-active-bg: #{darken($primary, 10%)};
    --bs-btn-active-border-color: #{darken($primary, 5%)};
    border: none;
  }

  .btn-danger {
    --bs-btn-bg: #{$danger};
    --bs-btn-border-color: #{$danger};
    --bs-btn-hover-bg: #{darken($danger, 5%)};
    --bs-btn-hover-border-color: #{darken($danger, 5%)};
    --bs-btn-active-bg: #{darken($danger, 10%)};
    --bs-btn-active-border-color: #{darken($danger, 5%)};
  }

  .btn-success {
    --bs-btn-bg: #{$success};
    --bs-btn-border-color: #{$success};
    --bs-btn-hover-bg: #{darken($success, 5%)};
    --bs-btn-hover-border-color: #{darken($success, 5%)};
    --bs-btn-active-bg: #{darken($success, 10%)};
    --bs-btn-active-border-color: #{darken($success, 5%)};
  }

  .header-color {
    color: #{$primary};
  }

  .header-main-color {
    color: white;
  }

  @each $color, $value in $theme-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors-rgb {
    --#{$prefix}#{$color}-rgb: #{$value};
  }
}

@include color-mode(light) {
  $brand-theme-colors: (
    'primary': #266ea6,
    'secondary': #75c2ff,
    'success': #bbfcba,
    'danger': #dc3545,
    'warning': #ffffd2,
    'info': #96a9da,
  );

  $primary: map.get($brand-theme-colors, 'primary');
  $secondary: map.get($brand-theme-colors, 'secondary');
  $success: map.get($brand-theme-colors, 'success');
  $info: map.get($brand-theme-colors, 'info');
  $warning: map.get($brand-theme-colors, 'warning');
  $danger: map.get($brand-theme-colors, 'danger');

  $theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'danger': $danger,
    'warning': $warning,
    'info': $info,
  );

  $theme-colors-rgb: (
    'primary': to-rgb($primary),
    'secondary': to-rgb($secondary),
    'success': to-rgb($success),
    'danger': to-rgb($danger),
    'warning': to-rgb($warning),
    'info': to-rgb($info),
  );

  .btn-primary {
    --bs-btn-bg: #{$primary};
    --bs-btn-border-color: #{$primary};
    --bs-btn-hover-bg: #{darken($primary, 5%)};
    --bs-btn-hover-border-color: #{darken($primary, 5%)};
    --bs-btn-active-bg: #{darken($primary, 10%)};
    --bs-btn-active-border-color: #{darken($primary, 5%)};
  }

  .btn-danger {
    --bs-btn-bg: #{$danger};
    --bs-btn-border-color: #{$danger};
    --bs-btn-hover-bg: #{darken($danger, 5%)};
    --bs-btn-hover-border-color: #{darken($danger, 5%)};
    --bs-btn-active-bg: #{darken($danger, 10%)};
    --bs-btn-active-border-color: #{darken($danger, 5%)};
  }

  .btn-success {
    --bs-btn-bg: #{$success};
    --bs-btn-border-color: #{$success};
    --bs-btn-hover-bg: #{darken($success, 5%)};
    --bs-btn-hover-border-color: #{darken($success, 5%)};
    --bs-btn-active-bg: #{darken($success, 10%)};
    --bs-btn-active-border-color: #{darken($success, 5%)};
  }

  .header-color {
    color: #{$primary};
  }

  .header-main-color {
    color: white;
  }

  @each $color, $value in $theme-colors {
    --#{$prefix}#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors-rgb {
    --#{$prefix}#{$color}-rgb: #{$value};
  }
}
